@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Outfit", serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #8e44ec;
  border-radius: 5px;
}
